body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}

h2 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.aprovado {
    color: green;
    font-weight: bold;
}

.reprovado {
    color: red;
    font-weight: bold;
}
.resultado {
    margin-top: 20px;
    font-size: 18px;
}
